{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}

  {% for cat, products in data %}
    {% if cat.kind == "primary" %}
      <h2>{{ cat.name }}</h2>
      <table class="mytable">
        <tr class="header">
          <th>product</th>
          <th>size</th>
          <th>price</th>
          <th>buy</th>
        </tr>
        {% for p in products %}
          {% cycle 'odd' 'even' as cls silent %}
          {% for item in p.menu_items.all %}
          <tr class="{{ cls }}">
            <td>{{p.name}}</td>
            <td>{% if item.size %}{{item.size}}{% endif %}</td>
            <td>{% if item.price %}{{item.price}}{% endif %}</td>
            <td><a href="{% url 'item' item.id %}">&#x1f6d2;</a></td>
          </tr>
          {% endfor %}
        {% endfor %}
      </table>
    {% endif %}
  {% endfor %}

{% endblock %}
