{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}

  {% for cat, products in data %}
    <h2>{{ cat.name }}</h2>
    <table>
      <tr>
        <th>product</th>
        <th>size</th>
        <th>price</th>
      </tr>
      {% for p in products %}
        {% for item in p.menu_items.all %}
        <tr>
          <td>{{p.name}}</td>
          <td>{% if item.size %}{{item.size}}{% endif %}</td>
          <td>{% if item.price %}{{item.price}}{% endif %}</td>
        </tr>
        {% endfor %}
      {% endfor %}
    </table>
  {% endfor %}

{% endblock %}
