{% extends "base.html" %}

{% block title %}Add Item{% endblock %}

{% block content %}

<form action="{% url 'add_to_cart' %}" method="post" style="display: inline">
  {% csrf_token %}
  <input name="item_id" value="{{ item.id }}" type="hidden">

  <table id="cart-table">
    <tr><td>Product</td><td>{{ item.product.name }}</td></tr>
    {% if item.size %}
      <tr><td>Size</td><td>{{ item.size }}</td></tr>
    {% endif %}
    <tr><td>Price</td><td>{{ item.price }}</td></tr>

    {% if extras_category_kind == "components" %}
      {% if extras_amount %}
        <tr>
          <td>{{ extras_category_name }}</td>
          <td>
            {% for num in extras_amount %}
            <select name="extras">
              {% for extra in extras %}
              <option value="{{ extra.id }}">{{ extra.product.name }}</option>
              {% endfor %}
            </select>
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endif %}

    {% if extras_category_kind == "additions" %}
      {% if extras_amount is None %}
        <tr>
          <td>{{ extras_category_name }}</td>
          <td>
            {% for extra in extras %}
              <input type="checkbox" name="extras" value="{{ extra.id }}">Add {{ extra.product.name }} for {{ extra.price }}$<br>
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endif %}

    <tr> <td>Add to Cart</td><td><input type="submit" value="&#x1f6d2;"></td> </tr>
  </table>
</form>
{% endblock %}
