{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}

  {% for cat, products in data %}
    <h2>{{ cat.name }}</h2>
    <table>
      <tr>
        <th>product</th>
        <th>size</th>
        <th>price</th>
        <th>buy</th>
      </tr>
      {% for p in products %}
        <tr>
          <td>{{p.name}}</td>
          <td>{% if p.size %}{{p.size}}{% endif %}</td>
          <td>{% if p.price %}{{p.price}}{% endif %}</td>
          <td>
            <form action="{% url 'add_to_cart' %}" method="post" style="display: inline">
              {% csrf_token %}
              <input name="product_id" value="{{p.id}}" type="hidden">
              <input type="submit" value="&#x1f6d2;">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}

{% endblock %}
